@import "base/mixins";

// colors
$main_color: #000;
$brand_color: #ccc;

@font-face {
    font-family: 'yourFontHere';
    src: url('font/fontName.woff2') format('woff2'),
         url('font/fontName.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}