// useful variable for mixins
$base_font_size: 16px !default;

@import "base/mixins";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/images";

// colors
$main_color: #000;
$brand_color: #ccc;

// Break points for media queries. Use px or rem according to compatibility needs
$break_small: 41.5rem; //iphone 6+ 
$break_medium: 76.8rem;
$break_large: 96rem;
$break_wide: 12.8rem;