$icons: (
    sprite: (width: 25px, height:25px, pngPath: '../img/sprite_global.png', svgPath: '../img/sprite_global.svg'),
   square: (width: 5px, height: 5px, backgroundX: -10px, backgroundY:-10px),
);