@charset 'utf-8';

@import "base/setup";
@import "base/reset";
@import "base/helpers";

@import "utilities/sprite_global";
//@import "utilities/sprite_home"; uncomment if needed
//@import "utilities/sprite_mobile"; uncomment if needed

@font-face {
    font-family: 'yourFontHere';
    src: url('font/fontName.eot');
    src: url('font/fontName.eot?#iefix') format('embedded-opentype'),
         url('font/fontName.woff2') format('woff2'),
         url('font/fontName.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
}

html {
    font-size: 62.5%;
	font-size: calc(1em * 0.625); // IE9-11 fix
}

body {
    width: 100%;
    overflow-x: hidden;
    color: $main_color;
    font-family: arial, sans-serif;
    //font-size: 1.4rem; // If no need to support IE8. 1.4rem = 14px 
    @include rem(font-size, 1.4rem); // if IE8 fallback needed
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

h1 {
 
}

h2 {
 
}

h3 {
 
}

h4 {
 
}
.test {
	@include sprite($icons, square);
}
/* example of sprite use 
.class {
	@include sprite($icons, camera);
}

.class_two {
	@include sprite($icons_home, camera);
}
*/

@import "patterns/header";
@import "patterns/menu";
@import "patterns/breadcrumb";
@import "patterns/form";
@import "patterns/footer";