@charset 'utf-8';

@import "base/setup";
@import "base/reset";
@import "base/helpers";

html, body {
    height: 100%;
}

html {
    font-size: 62.5%;
	font-size: calc(1em * 0.625); // IE9-11 fix
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
	background: #fff;
    width: 100%;
    overflow-x: hidden;
    color: $main_color;
    font-size: 1.6rem; //16px
    font-family: arial, sans-serif;
	-webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
}

.skip_links {
	position: relative;
    a {
        &:focus, &:active, &:hover {
            width: auto;
            height: auto;
            clip: auto;
            overflow: visible;
            z-index: 99;
            color: #000; // a visible color according to your design
        }
    }
}


strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

svg {
	font-size: 1rem;
}


h1 {
 
}

h2 {
 
}

h3 {
 
}

h4 {
 
}

@import "components/header";
@import "components/menu";
@import "components/breadcrumb";
@import "components/form";
@import "components/footer";